CompileFlags:
  Add:
    - '--target=arm-none-eabi'
    - '-If:/keil5/C251/INC'
    - '-If:/keil5/C251/INC/STC'
    - '-Ic:/Users/czj/Desktop/navigation/Libraries/libraries'
    - '-Ic:/Users/czj/Desktop/navigation/Libraries/seekfree_libraries'
    - '-Ic:/Users/czj/Desktop/navigation/Libraries/seekfree_peripheral'
    - '-I"13-DRV8701E MotorControl Demo/CODE"'
    - '-I"13-DRV8701E MotorControl Demo/USER/inc"'
    - '-I"13-DRV8701E MotorControl Demo/USER/src"'
    - '-Ic:/Users/czj/Desktop/navigation/Libraries/seekfree_components'
    - '-D__C251__'
    - '-D__VSCODE_C251__'
    - '-Dreentrant='
    - '-Dcompact='
    - '-Dsmall='
    - '-Dlarge='
    - '-Ddata='
    - '-Didata='
    - '-Dpdata='
    - '-Dbdata='
    - '-Dedata='
    - '-Dxdata='
    - '-Dcode='
    - '-Dbit=char'
    - '-Dsbit=char'
    - '-Dsfr=char'
    - '-Dsfr16=int'
    - '-Dsfr32=int'
    - '-Dinterrupt='
    - '-Dusing='
    - '-Dfar='
    - '-D_at_='
    - '-D_priority_='
    - '-D_task_='
  Compiler: F:/keil5/C251/bin/C251.EXE


---
If:
  PathMatch: */CMSIS/.*
Diagnostics:
  Suppress: ["*", undeclared_var_use_suggest]